
.user-id {
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #eeeeee;
}

    .user-id input {
        border: none;
        height: 40px;
        line-height: 40px;
        width: 100%;
        font-size: 16px;
    }

.set-password {
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #eeeeee;
}

    .set-password input {
        border: none;
        height: 40px;
        line-height: 40px;
        width: 100%;
        font-size: 16px;
    }

.note {
    height: 35px;
    line-height: 35px;
    margin: 10px 0px 30px 0px;
    padding: 0px 0px 0px 15px;
    font-size: 18px;
}

.user-id2 {
    height: 35px;
    line-height: 35px;
    color: #1e1e1e;
    font-size: 18px;
    margin: 5px 0px 5px 0px;
    padding: 0px 0px 0px 15px;
}

.verification {
    margin: 10px 0px 10px 0px;
}

    .verification input {
        height: 50px;
    }

    .verification button {
        height: 50px;
        margin: 0px 0px 0px 15px;
    }

.customer-service {
    height: 30px;
    line-height: 30px;
    padding-right: 15px;
}

    .customer-service span {
        font-size: 17px;
    }
