<link href="css/forget_password.css" rel="stylesheet" />
<style>
    .code {
        color: red;
        font-weight: bolder;
        font-style: italic;
        font-family: Arial, '宋体';
        letter-spacing: 3px;
    }

</style>
<style type="text/css">
     input.ng-invalid.ng-touched {
        background-color: #FA787E;
    }

     input.ng-valid.ng-touched {
        background-color: #78FA89;
    }
</style>
<div class="container-full" ng-controller="forgetPwd1Controller">
    <div class="header">
        <div class="col-xs-1 text-center">
            <a href="/login.html"><img class="small-icon" src="content/icon/left-arrow.png" /></a>
        </div>
        <div class="col-xs-9 text-center">
            <span>找回密码</span>
        </div>
    </div>
    <div class="col-xs-2 text-center hidden">
        <span class="active">登录</span>
    </div>
   <form>
       <div class="user-id">
           <div class="col-xs-1">
               <img class="small-icon" src="content/icon/cell-phone.png" />
           </div>
           <div class="col-xs-9">
               <input type="text" placeholder="手机号" ng-model="phoneNum" phoneNumValidate>
               <span ng-show="form.phoneNum.$error.phoneNumValidate">1111</span>
           </div>
       </div>
       <div class="set-password">
           <div class="col-xs-1">
               <img class="small-icon" src="content/icon/email.png" />
           </div>
           <div class="col-xs-8">
               <input type="password" placeholder="请输入验证码" ng-model="inputCode">
           </div>
           <div class="col-xs-3">
               <span class="code" ng-click="freshCode()">{{code}}</span>
           </div>
       </div>
   </form>


    <div class="col-xs-12 register">
        <button type="button" ng-click="nextStep()" ng-disabled="phoneNum.$invalid ">下一步</button>
    </div>


</div>